@use './util' as u;

.result-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px 40px;
  padding-inline: 50px;
  border-radius: 0 0 30px 30px;
  background: var(--bg-gradient);
  color: var(--light-lavender);

  &__heading {
    margin-bottom: u.rem(20);
    font-size: u.rem(18);
    font-weight: 700;
    color: var(--light-lavender);
  }

  &__score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    margin-bottom: u.rem(30);
    border-radius: 50%;
    background: var(--circle-bg-gradient);
  }

  &__value {
    margin-bottom: 5px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
    color: white;
  }

  &__divisor {
    font-size: 16px;
    font-weight: 500;
    color: var(--light-lavender);
  }
}

.description {
  text-align: center;

  &__heading {
    margin-bottom: u.rem(5);
    font-size: u.rem(22);
    font-weight: 700;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .result-section {
    width: 50%;
    padding: 35px 60px 54px 60px;
    border-radius: 30px;

    &__heading {
      margin-bottom: u.rem(32);
      font-size: u.rem(24);
    }

    &__score {
      width: 200px;
      height: 200px;
      margin-bottom: u.rem(28);
    }

    &__value {
      font-size: 72px;
    }

    &__divisor {
      font-size: 18px;
    }
  }

  .description {
    &__heading {
      margin-bottom: u.rem(12);
      font-size: u.rem(30);
    }

    &__body {
      font-size: u.rem(18);
      line-height: 1.3;
    }
  }
}
